<!--<h1>Profile page</h1>
<h2>Welcome: {{name}}</h1>-->
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/profile.css">
    <style>
.avatar {
  vertical-align: middle;
  width: 140px;
  height: 130px;
  border-radius: 50%;
}
</style>
</head>
<body>
  <form action="/profile" method="POST">
     <img src="images/Code Queen Logo.png" alt="CodeQueen logo" class="logo">
     <div class="cover">
        <h1 class="title">Student Profile</h1>
        <div class="container">
            <div class="heading">
                <form action="/logout" method="POST">
                <div>
                 <a href="homepage" class="btn btn-secondary" role="button"> Logout</a>  
                </div>
                </form>
                <a href="#" class="btn btn-secondary" role="button"> Connect</a>
                <a href="#" class="btn btn-secondary" role="button"> Students'List</a>
                <a href="#" class="btn btn-secondary" role="button"> Edit Details </a>

                <div class="student-details">
                    <div class="profile-photo">
                        <p><label for="file" style="cursor: pointer;"><b>Profile Photo</b></label></p>
                     <input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none">
                         <!--- <img id="output" width="150" height="140" />-->
                        <img src="images/avtr.png" alt="Avatar" class="avatar">                   
                        
                    </div>
                    <div class="box-text">
                        <p><b>Firstname:</b>&nbsp;{{user.username}}</p>
                        <p><b>Firstname:</b>&nbsp;{{user.firstname}}</p>
                        <p><b>Lastname:</b>&nbsp;{{user.lastname}}</p>
                        <p><b>Email:</b>&nbsp;{{user.email}}</p>
                        <div>
                            <a href="#">Results/Progress</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>